.logo {
  width: 36px;
  margin-bottom: 2px;
  opacity: 0.75;
  background-color: #ffffff;
}

.preferences-icon {
	background: url(assets/images/preferences.svg) center no-repeat;
}

.notifications-icon {
  background: url(assets/images/notifications.svg) center no-repeat;
}

.preferences-icon, .notifications-icon {
	background-size: 24px 24px;
	width: 36px;
	height: 36px;
	opacity: 0.5;
}

.preferences-icon:hover, .notifications-icon:hover {
	opacity: 0.75;
}

.preferences-icon.active, .notifications-icon.active {
	opacity: 1.0;
}

body {
  padding-top: 64px;
}

.divider {
  height: 12px;
  border-left: 1px solid #ffffff32;
}
