#dropzone {
  border: 1px dashed gray;
  border-radius: 12px;
  min-height: 352px;
}

#dropzone.drag-enter {
  opacity: 0.5;
}

#dropzone.drag-enter * {
  pointer-events: none;
}

#dropzone .file-upload-icon {
  border: 1px dashed gray;
  border-radius: 12px;
  opacity: 0.3;
  padding: 12px;
  width: 96px;
}

#dropzone .click-here {
  cursor: pointer;
}
